<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Viewing maneuvers</title>
</head>
<body>
<form>
<table>
<tr th:each="currentManeuver : ${maneuversByApp}" >
<td th:text="${currentManeuver.maneuverName}" />
<td th:text="${currentManeuver.maneuverConfidence}" />
<td><a th:href="@{/edit/{id}(id=${currentManeuver.id})}">Edit</a></td>
<td><a th:href="@{/deleteManeuver/{id}(id=${currentApparatus.id})}">Delete</a></td>
<td><a th:href="@{/listManeuversById/{id}(id=${currentApparatus.id})}">View Maneuvers</a></td>
</tr>
</table>
</form>
<a href="@{/inputManeuver/{id}(id=${currentManeuver.apparatus.id})}">Add a new maneuver</a>
<a href="/viewAll">View all Apparatuses</a>
</body>
</html>